@use "abstract/" as *;

nav.navbar {
    .navbar-brand {
        width: 8%;
        @include respond(350) {
            width: 20%;
        }
        @include respond(650) {
            width: 13%;
        }
        @include respond(1050) {
            width: 10%;
        }
        @include respond(1250) {
            width: 10%;
        }
    }
}

#Home #carouselExampleCaptions .carousel-inner .carousel-item .row {
    @include respond(350) {
        flex-direction: column;
        justify-content: center;
    }
    @include respond(1050) {
        flex-direction: row;
    }

    .part {
        @include respond(350) {
            height: max-content !important;
        }
        @include respond(1050) {
            height: 100% !important;
        }
        img {
            max-width: 450px;
        }
    }
}

.cartBooks {
    max-width: 350px;
    @include respond(350) {
        width: 100%;
    }
}

.brDrop {
    @include respond(350) {
        width: 100%;
    }
    @include respond(450) {
        width: fit-content;
    }
}

header#Auth {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;

    #Login {
        flex-grow: 1;
        padding: 48px 0px;
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            h2 {
                font-size: 45px;                
            }
            form {
                height: max-content;
                width: 35%;
                max-width: 650px;
                
                @include respond(350) {
                    width: 100%;
                    max-width: 350px;
                }
                @include respond(850) {
                    width: 50%;
                    max-width: 550px;
                }
                @include respond(1050) {
                    width: 40%;
                    max-width: 550px;
                }
            }
        }
    }

    #Register {
        flex-grow: 1;
        padding: 48px 0px;
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            form {
                height: max-content;
                width: 100%;
                max-width: 650px;

                @include respond(350) {
                    width: fit-content;
                    max-width: 350px;
                }
                @include respond(850) {
                    width: fit-content;
                    max-width: 550px;
                }
            }
        }
    }
}

.ancor {
    text-decoration: none;
    letter-spacing: 1px;
    color: #000;
    transition-duration: 0.3s;
    &:hover {
        color: #7e7e7e;
    }
}
